@font-face {
    font-family: 'Mic-icon';
    src: url("./font/micon.eot");
    src: url("./font/micon.eot") format("embedded-opentype"),
        url('./font/micon.woff2') format('woff2'),
        url("./font/micon.woff") format("woff"),
        url("./font/micon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.icon {
    font-family: 'Mic-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yes:before {
    content: "\e000";
}

.icon-error:before {
    content: "\e001";
}

.icon-info:before {
    content: "\e002";
}

.icon-caution:before {
    content: "\e003";
}

.icon-problem:before {
    content: "\e004";
}

.icon-add-l:before {
    content: "\e005";
}

.icon-down:before {
    content: "\e006";
}

.icon-up:before {
    content: "\e007";
}

.icon-right:before {
    content: "\e008";
}

.icon-left:before {
    content: "\e009";
}

.icon-add:before {
    content: "\e00a";
}

.icon-deduct:before {
    content: "\e00b";
}

.icon-delete:before {
    content: "\e00c";
}

.icon-top:before {
    content: "\e090";
}

.icon-arrow-top:before {
    content: "\e00d";
}

.icon-tm:before {
    content: "\e00e";
}

.icon-basket:before {
    content: "\e00f";
}

.icon-purchase:before {
    content: "\e010";
}

.icon-personal:before {
    content: "\e011";
}

.icon-group:before {
    content: "\e012";
}

.icon-add-friend:before {
    content: "\e013";
}

.icon-phonebook:before {
    content: "\e014";
}

.icon-service-waiter:before {
    content: "\e015";
}

.icon-headsets:before {
    content: "\e016";
}

.icon-happy:before {
    content: "\e017";
}

.icon-unhappy:before {
    content: "\e018";
}

.icon-talk:before {
    content: "\e019";
}

.icon-thumb-up:before {
    content: "\e01a";
}

.icon-thumb-down:before {
    content: "\e01b";
}

.icon-calendar:before {
    content: "\e01c";
}

.icon-call1:before {
    content: "\e01d";
}

.icon-call2:before {
    content: "\e01e";
}

.icon-camera:before {
    content: "\e01f";
}

.icon-cart:before {
    content: "\e020";
}

.icon-clock:before {
    content: "\e021";
}

.icon-history:before {
    content: "\e022";
}

.icon-compass:before {
    content: "\e023";
}

.icon-coordinate:before {
    content: "\e024";
}

.icon-dollar:before {
    content: "\e025";
}

.icon-download:before {
    content: "\e026";
}

.icon-upload:before {
    content: "\e027";
}

.icon-eye:before {
    content: "\e028";
}

.icon-eye-close:before {
    content: "\e029";
}

.icon-fill:before {
    content: "\e02a";
}

.icon-survey:before {
    content: "\e02b";
}

.icon-fill-text:before {
    content: "\e02c";
}

.icon-folder:before {
    content: "\e02d";
}

.icon-file:before {
    content: "\e02e";
}

.icon-attachment:before {
    content: "\e02f";
}

.icon-music:before {
    content: "\e030";
}

.icon-video:before {
    content: "\e031";
}

.icon-category:before {
    content: "\e032";
}

.icon-list:before {
    content: "\e033";
}

.icon-gallery:before {
    content: "\e034";
}

.icon-heart:before {
    content: "\e035";
}

.icon-heart-f:before {
    content: "\e036";
}

.icon-star:before {
    content: "\e037";
}

.icon-star-f:before {
    content: "\e038";
}

.icon-volume-up:before {
    content: "\e039";
}

.icon-volume-off:before {
    content: "\e03a";
}

.icon-voice:before {
    content: "\e03b";
}

.icon-voice-off:before {
    content: "\e03c";
}

.icon-mail:before {
    content: "\e03d";
}

.icon-maill:before {
    content: "\e03d";
}

.icon-maill-send:before {
    content: "\e03e";
}

.icon-play:before {
    content: "\e03f";
}

.icon-search:before {
    content: "\e040";
}

.icon-filter:before {
    content: "\e041";
}

.icon-qr:before {
    content: "\e042";
}

.icon-quick-reply:before {
    content: "\e043";
}

.icon-reply:before {
    content: "\e044";
}

.icon-keyboard:before {
    content: "\e045";
}

.icon-refresh:before {
    content: "\e046";
}

.icon-home:before {
    content: "\e047";
}

.icon-lock:before {
    content: "\e048";
}

.icon-unlock:before {
    content: "\e049";
}

.icon-share1:before {
    content: "\e04a";
}

.icon-setting:before {
    content: "\e04b";
}

.icon-print:before {
    content: "\e04c";
}

.icon-recycle:before {
    content: "\e04d";
}

.icon-picture:before {
    content: "\e04e";
}

.icon-drag:before {
    content: "\e04f";
}

.icon-product:before {
    content: "\e050";
}

.icon-zip:before {
    content: "\e051";
}

.icon-batch:before {
    content: "\e052";
}

.icon-rotate-r:before {
    content: "\e053";
}

.icon-rotate-l:before {
    content: "\e054";
}

.icon-scaling:before {
    content: "\e055";
}

.icon-apple:before {
    content: "\e056";
}

.icon-android:before {
    content: "\e057";
}

.icon-up-big:before {
    content: "\e058";
}

.icon-down-big:before {
    content: "\e059";
}

.icon-yes2:before {
    content: "\e05a";
}

.icon-picture-gallery:before {
    content: "\e05b";
}

.icon-enlarge:before {
    content: "\e05c";
}

.icon-narrow:before {
    content: "\e05d";
}

.icon-cart-add:before {
    content: "\e05e";
}

.icon-cart-success:before {
    content: "\e05f";
}

.icon-more:before {
    content: "\e060";
}

.icon-video2:before {
    content: "\e061";
}

.icon-verification-supplier:before {
    content: "\e062";
}

.icon-chart:before {
    content: "\e063";
}

.icon-fire:before {
    content: "\e064";
}

.icon-pdf:before {
    content: "\e065";
}

.icon-flag:before {
    content: "\e066";
}

.icon-flag-f:before {
    content: "\e067";
}

.icon-label:before {
    content: "\e068";
}

.icon-phone:before {
    content: "\e069";
}

.icon-reply-no:before {
    content: "\e06a";
}

.icon-category2:before {
    content: "\e06b";
}

.icon-sign-out:before {
    content: "\e06c";
}

.icon-prohibit:before {
    content: "\e06d";
}

.icon-prohibit-person:before {
    content: "\e06e";
}

.icon-collection-person:before {
    content: "\e06f";
}

.icon-distribution:before {
    content: "\e070";
}

.icon-report:before {
    content: "\e071";
}

.icon-product-add:before {
    content: "\e072";
}

.icon-product-main:before {
    content: "\e073";
}

.icon-sort:before {
    content: "\e074";
}

.icon-sort2:before {
    content: "\e075";
}

.icon-buyer-sourcing:before {
    content: "\e076";
}

.icon-scan:before {
    content: "\e077";
}

.icon-arrow-down:before {
    content: "\e078";
}

.icon-arrow-left:before {
    content: "\e079";
}

.icon-arrow-right:before {
    content: "\e07a";
}

.icon-left-big:before {
    content: "\e07b";
}

.icon-right-big:before {
    content: "\e07c";
}

.icon-bell:before {
    content: "\e07d";
}

.icon-pause:before {
    content: "\e07e";
}

.icon-right-rotation:before {
    content: "\e07f";
}

.icon-earth:before {
    content: "\e080";
}

.icon-panorama:before {
    content: "\e081";
}

.icon-ad:before {
    content: "\e082";
}

.icon-shop:before {
    content: "\e083";
}

.icon-bold:before {
    content: "\e100";
}

.icon-italic:before {
    content: "\e101";
}

.icon-underline:before {
    content: "\e102";
}

.icon-align-left:before {
    content: "\e103";
}

.icon-align-center:before {
    content: "\e104";
}

.icon-text-style:before {
    content: "\e105";
}

.icon-superscript:before {
    content: "\e106";
}

.icon-subscript:before {
    content: "\e107";
}

.icon-crop:before {
    content: "\e108";
}

.icon-table:before {
    content: "\e109";
}

.icon-table-edit:before {
    content: "\e10a";
}

.icon-preview:before {
    content: "\e10b";
}

.icon-foward:before {
    content: "\e10c";
}

.icon-back:before {
    content: "\e10d";
}

.icon-fullscreen:before {
    content: "\e10e";
}

.icon-fullscreen-out:before {
    content: "\e10f";
}

.icon-align-right:before {
    content: "\e110";
}

.icon-symbol:before {
    content: "\e111";
}

.icon-color:before {
    content: "\e112";
}

.icon-link:before {
    content: "\e113";
}

.icon-facebook:before {
    content: "\e140";
}

.icon-google-plus:before {
    content: "\e141";
}

.icon-twitter:before {
    content: "\e142";
}

.icon-youtube:before {
    content: "\e143";
}

.icon-linkedin:before {
    content: "\e144";
}

.icon-pinterest:before {
    content: "\e145";
}

.icon-weibo:before {
    content: "\e146";
}

.icon-wechat:before {
    content: "\e147";
}

.icon-tieba:before {
    content: "\e148";
}

.icon-qzone:before {
    content: "\e149";
}

.icon-tencent-weibo:before {
    content: "\e14a";
}

.icon-share-mail:before {
    content: "\e14b";
}

.icon-ind-agriculture:before {
    content: "\e180";
}

.icon-ind-apparel:before {
    content: "\e181";
}

.icon-ind-artcraft:before {
    content: "\e182";
}

.icon-ind-bag:before {
    content: "\e183";
}

.icon-ind-computer:before {
    content: "\e184";
}

.icon-ind-consumer-electronics:before {
    content: "\e185";
}

.icon-ind-furniture:before {
    content: "\e186";
}

.icon-ind-light-industry:before {
    content: "\e187";
}

.icon-ind-office-supply:before {
    content: "\e188";
}

.icon-ind-sportting:before {
    content: "\e189";
}

.icon-ind-toy:before {
    content: "\e18a";
}

.icon-ind-auto:before {
    content: "\e18b";
}

.icon-ind-electrical:before {
    content: "\e18c";
}

.icon-ind-equipment:before {
    content: "\e18d";
}

.icon-ind-instrument:before {
    content: "\e18e";
}

.icon-ind-light:before {
    content: "\e18f";
}

.icon-ind-manufacture:before {
    content: "\e190";
}

.icon-ind-packaging:before {
    content: "\e191";
}

.icon-ind-security:before {
    content: "\e192";
}

.icon-ind-tool:before {
    content: "\e193";
}

.icon-ind-transportation:before {
    content: "\e194";
}

.icon-ind-chemical:before {
    content: "\e195";
}

.icon-ind-construction:before {
    content: "\e196";
}

.icon-ind-health:before {
    content: "\e197";
}

.icon-ind-metallurgy:before {
    content: "\e198";
}

.icon-ind-textile:before {
    content: "\e199";
}

.icon-ind-service:before {
    content: "\e19a";
}

.icon-i-personal-f:before {
    content: "\e1f5";
}

.icon-product-prohibit:before {
    content: "\e088";
}

.icon-certificate:before {
    content: "\e08b";
}